*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

body{
    background-image: linear-gradient(to bottom, #1d334a, #1d334a, #1d334a, #1D3F3E, #1d4a31);
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.container{
    flex: 1;
    padding: 20px;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.left-items{
    margin-left:20px;
    display: flex;
    align-items: center;

}
.right-items {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 40px 50px;
        color:white;
    

}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    position: relative
    
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.middle-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;


}
 .box {
        flex-grow: 1;
        padding: 20px;
        padding-bottom: 0px;
        box-sizing: border-box;
        text-align: center;
        font-size: 25px;
        color: #9FC6DB;
    }
.left-box{
    margin-bottom:0px;
    margin-left: 100px;
    flex-grow: 0;
    width: 65%;
    font-size: 30px;
    text-align: left;
}

.left-box h1{
    color: #9FC6DB;
    font-size: 110px;
}
.centre-box{
    margin-top: -125px;
    padding: 0 0;
}
.centre-box img{
    height: 60%;
    margin-bottom: 0px;
}
.right-box{
    margin-top: 75px;
    margin-right: 70px;
    flex-grow: 0;
    width: 25%;
    
}
.button{
    background: #558b5e;
    color: white;
    padding: 30px 60px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 10px;
}
.statement h1{
    color: #9FC6DB;
    text-align: center;
    padding: 20px;
    font-size: 80px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    
    background-color: #1d334a;
    margin: auto;
    padding: 50px 50px 30px 50px;
    border-radius: 10px;
    width: 25%;
    height: 80%;
    overflow-y: auto;
}

.modal-content h1 {
    color: white;
    margin-bottom: 10px;
}

.exit {
    color: white;
    float: right;
    margin: -35px -15px 0 0;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.exit:hover{
    transform: scale(1.5);
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    color: white;
}

.contact{
    margin-bottom: 30px;

}

.user{
    margin-bottom: 30px;
}

.address{
    margin-bottom: 30px;

}

input[type="text"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-group{
    display: flex;
    justify-content: space-between;

}

.modal-button {
    background-color: #558b5e;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.modal-button:hover{
    transform: scale(1.1);
}

.clear-btn {
    width: 35%;
    background: none;
    border: 1px white solid;
}

.submit-btn {
    width: 60%;
}


.card-group{
    display: flex;
    justify-content: left;
}

.card {
    width: 30%;
    padding: 25px 10px;
    margin: 40px 20px;
    margin-bottom: 0px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    border: #fff 1px solid;
    transition: transform 0.3s;
}

.card h2 {
    color:white;
    font-size: 40px;
}

.card p {
    color: #9FC6DB;
}

.icons:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.icons i{
    color:white;
    font-size: 50px;
}

.socials{
    border: none; 
    display: flex;
    justify-content: center;
    margin: -40px auto 150px auto; 
    padding: 0 0; 
    z-index: 100;
    scale: 1.6;
    transition: transform 0.3s;
}

.middle-card {
    background: #558b5e;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50%;
    width: 30%;
    
}

.card:hover{
    transform: scale(1.1);
}

.card h1{
    color:white;
    font-size: 30px;
}

.features{
    color: white;
    display: flex;
    justify-content: left;
    margin: 20px 0px;
    text-align: left;
    padding: 20px 20px 20px 0;
    font-size: 30px;
}
.features h3{
    margin-right: 40px;
}
.feature-arrow{
    margin: auto;
    font-size: 50px;
}
