*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}
body{
    background-image: linear-gradient(to bottom, #1d334a, #1d334a, #1d334a, #1D3F3E, #1d4a31);
     /* background-color: #1d334a; */
}
.container{
    padding: 20px;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.left-items{
    margin-left:20px;
    display: flex;
    align-items: center;

}
.right-items {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 40px 50px;
        color:white;
    

}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    position: relative
    
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.middle-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
 .box {
        flex-grow: 1;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        font-size: 25px;
        color: #9FC6DB;
    }
.left-box{
    margin-top:0px;
    margin-right: 175px;
    flex-grow: 0;
    width: 75%;
    font-size: 30px;
        text-align: right;
}

.left-box h1{
    color: #9FC6DB;
    font-size: 120px;
}
.centre-box{
    margin-right: 90px;
    margin-left: 0px;
    padding: 0 0;
    scale: 1.3;
}
.right-box{
    margin-top: 75px;
    margin-right: 70px;
    flex-grow: 0;
    width: 25%;
    
}
.button{
    background: #558b5e;
    color: white;
    padding: 30px 60px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    border-radius: 10px;
}
.statement h1{
    color: #9FC6DB;
    text-align: center;
    padding: 20px;
    font-size: 80px;
}
.socials{
    color: #9FC6DB;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom:100px;
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 7% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 25px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #558b5e;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card-group{
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
}

.card {
    width: 50%;
    padding: 50px 50px;
    margin: 0px 20px;
    border-radius: 10px;
    text-align: center;
}

.card h2 {
    color:white;
    font-size: 40px;
}

.card p {
    color: #9FC6DB;
}

.middle-card {
    background: #558b5e;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 35px;
    margin-bottom: 100px;
    height: 50%;
    transition: transform 0.3s;
}

.middle-card:hover{
    transform: scale(1.1);
}

.card h1{
    color:white;
    font-size: 50px;
}

